/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css  */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.tv-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px rgb(176, 121, 19) solid;
  width: 80vw;
  height: 80vh;
  border-radius: 20px;
  box-shadow: 2px -14px 0px 0px rgb(176, 121, 19);
}

.tv-inner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "tv-screen tv-buttonarea1";
  border: 10px rgb(150, 101, 10) solid;
  width: 74vw;
  height: 74vh;
}

.tv-sidepanel {
  background-color: rgb(150, 101, 10);
  grid-area: tv-buttonarea1;
}

.tv-buttonarea1 {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4em;
}

.tv-screen {
  grid-area: tv-screen;
}

button {
  padding: 1.5em;
  border-radius: 50%;
}
